body {
    padding: 0;
    margin: 0;
    background-color: #c1c1c1	;
    overflow-x: hidden;
}

.container,
.container2 {
    height: 300px; 
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 150px;
}

.container3{
    background-color: black;
    height: 20vw;
    margin-top: 50px;
}
.name1 {
    font-family: 'Montserrat', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 8px white;
    margin-bottom: 5px; 
    letter-spacing: 30px;
    
}

.surname1 {
    font-family: 'Montserrat', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 8px white;
    margin-bottom: 10px; 
    letter-spacing: 20px;
    font-weight: 900;
    }
